.binary
{
    opacity: 9%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-position: center;
    background-size: cover;
    transform: scale(5) rotate(1deg);
}

.roboto-mono-title
{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-size: 40;
    font-weight:300;
    font-style: normal;
}

.cover-image
{
    border-image: round;
    border-width: 100px;
    width: 500px;
    height: auto;
    align-content: center;
    object-fit: fill;
}

.cover-image-3
{
    border-image: round;
    border-width: 100px;
    width: 1500px;
    height: auto;
    align-content: center;
    object-fit: fill;
}

.fosho-image
{
    border-image: round;
    border-width: 100px;
    width: 1000px;
    height: auto;
    align-content: center;
    object-fit: fill;
}
